.app {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.app__nav {
    width: 100%;
    height: 10%;
    background: #EFD0BD;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    opacity: .9;
    z-index: 600;
}

.app__content {
    height: 90%;
}

.app__link {
    text-decoration: none;
    color: #522B14;
    opacity: .5;
    transition: all ease .2s;
    letter-spacing: 2px;
    font-family: "Secular One", sans-serif;
}

.app__link:hover {
    opacity: 1;
}

.app__title {
    text-decoration: none;
    color: #522B14;
    letter-spacing: 6px;
    font-family: "Secular One", sans-serif;
    font-size: 1.2rem;
}

.circle {
    position: fixed;
    border-radius: 50%;
    width: 130%;
    height: auto;
    padding-top: 100%;
}

@media (max-width: 800px) {
    
    .circle {
        border-radius: 50%;
        width: 130%;
        padding-top: 130%;
    }

}
