.app {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.app__nav {
    width: 100%;
    flex: .1;
    background: #EFD0BD;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    opacity: .9;
}

.app__content {
    flex: .9;
}

.app__link {
    text-decoration: none;
    color: #522B14;
    opacity: .5;
    transition: all ease .2s;
    letter-spacing: 2px;
    font-family: "Secular One", sans-serif;
}

.app__link:hover {
    opacity: 1;
}

.app__title {
    text-decoration: none;
    color: #522B14;
    letter-spacing: 6px;
    font-family: "Secular One", sans-serif;
    font-size: 1.2rem;
}